li {
  display: flex;
  justify-content: space-around;
  border: 1px solid blue;
  padding: 0px; }

.status, .task__title, .task__body {
  border-right: 1px solid blue;
  padding: 5px; }

form {
  display: none; }
